#mapid { 
    height: 250px; 
    width: 250px;
}
ion-icon{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color:#068EFF;
    font-size: 20px;
}
.orDes{
    margin-left: 5px;
}
#mapid{
    margin-left: 15px;
}